.goTopHidden{
    display: none;
}

.goTop{
    display: block;
    position: fixed;
    bottom: 7%;
    left: 92%;
    z-index: 9;
    padding: 7px 17px;
    border-radius: 6px;
}

@media only screen and (max-width: 768px) {
    .goTop{
        left: 86%;
    }
}